---
import { Image } from "astro:assets"
import { Icon } from "astro-icon/components"

import Link from "@components/utilities/link.astro"

import { siteInfo } from "@constant/site-info"
import { socialMediaIcon } from "@constant/social-media"
import { navigation } from "@constant/navigation"

import Logo from "@images/logo.webp"

const { address, phone, email } = siteInfo

const infoContactIcons = [
  { name: "basic-icons/pin", data: address },
  { name: "basic-icons/phone", data: phone },
  { name: "basic-icons/email", data: email }
]
---

<section class="bg-blue-950 pt-16 text-white">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 items-center gap-8 md:grid-cols-2">
      <div>
        <h2 class="text-3xl font-bold">
          ¿Estás listo para sumergirte en la aventura?
        </h2>
        <p class="mt-4 text-white/80">
          Únete a nuestra comunidad de entusiastas del buceo y explora el mundo
          submarino con confianza.
        </p>
      </div>
      <div class="flex flex-col justify-end gap-4 sm:flex-row">
        <Link
          href="/cursos-especiales"
          className="bg-ibwt-secondary px-6 py-3 text-white"
        >
          Empezar hoy
        </Link>
      </div>
    </div>
  </div>

  <article
    class="mt-12 border-t border-white/10 pt-8 text-center text-sm text-white/50"
  >
  </article>
</section>

<footer class="bg-blue-950 py-12 text-white">
  <section class="container mx-auto">
    <article class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      <section>
        <div class="mb-6 flex items-center gap-2">
          <Image
            src={Logo}
            alt="iBluewave Technology Logo"
            width={50}
            height={50}
          />
          <span class="text-xl font-extrabold text-white">iBluewave</span>
          <span class="text-ibwt-secondary text-xl font-light">Technology</span>
        </div>

        <p class="text-white/70">
          iBluewave Technology es una empresa dedicada a la formación y
          certificación de buceadores, ofreciendo cursos de alta calidad y
          experiencias únicas en el mundo del buceo.
        </p>

        <div class="mt-6 flex space-x-4">
          {
            socialMediaIcon.map(({ name, href }) => (
              <a
                href={href}
                target="_blank"
                rel="noopener noreferrer"
                class="hover:text-ibwt-secondary text-white/70"
              >
                <Icon
                  name={name}
                  class="h-5 w-5"
                />
              </a>
            ))
          }
        </div>
      </section>

      <section>
        <h3 class="mb-6 text-lg font-bold">Redireccion de Navegación</h3>
        <ul class="space-y-3">
          {
            navigation.map(({ text, href }) => (
              <li>
                <a
                  href={href}
                  class="hover:text-ibwt-secondary text-white/70"
                >
                  {text}
                </a>
              </li>
            ))
          }
        </ul>
      </section>

      <section>
        <h3 class="mb-6 text-lg font-bold">Cursos especiales</h3>
        <ul class="space-y-3">
          <li>
            <a
              href="#"
              class="hover:text-ibwt-secondary text-white/70"
              >Beginner Diving</a
            >
          </li>
          <li>
            <a
              href="#"
              class="hover:text-ibwt-secondary text-white/70"
              >Advanced Techniques</a
            >
          </li>
          <li>
            <a
              href="#"
              class="hover:text-ibwt-secondary text-white/70"
              >Professional Certification</a
            >
          </li>
          <li>
            <a
              href="#"
              class="hover:text-ibwt-secondary text-white/70"
              >Underwater Photography</a
            >
          </li>
          <li>
            <a
              href="#"
              class="hover:text-ibwt-secondary text-white/70"
              >Night Diving</a
            >
          </li>
        </ul>
      </section>

      <section>
        <h3 class="mb-6 text-lg font-bold">Información del contacto</h3>
        <ul class="space-y-3">
          {
            infoContactIcons.map(({ name, data }) => (
              <li class="flex items-start">
                <Icon
                  name={name}
                  class="text-ibwt-secondary mt-1 mr-2 h-5 w-5"
                />
                {name === "basic-icons/email" ? (
                  <a
                    href={`mailto:${data}`}
                    class="hover:text-ibwt-secondary text-white/70 hover:underline"
                  >
                    {data}
                  </a>
                ) : (
                  <span class="text-white/70">{data}</span>
                )}
              </li>
            ))
          }
        </ul>
      </section>
    </article>

    <article
      class="mt-12 border-t border-white/10 pt-8 text-center text-sm text-white/50"
    >
      <p id="copyright"></p>
    </article>
  </section>
</footer>

<script>
  import { $ } from "@lib/dom"

  document.addEventListener("astro:page-load", () => {
    const copyrightParagraph = $("#copyright")

    if (!copyrightParagraph) return

    const date = new Date()
    const year = date.getFullYear()

    copyrightParagraph.textContent = `© ${year} iBluewave Technology. Todos los derechos reservados.`
  })
</script>
