---
import Seo from "@components/shared/Seo.astro"
import Header from "@components/shared/Header.astro"
import Footer from "@components/shared/Footer.astro"

import type { Preload } from "@interfaces/preload"

import "@/styles/global.css"

interface Props {
  title: string
  desc: string
  preload?: Array<Preload>
  canonical?: string
  image?: string
}

const { title, desc, preload, canonical, image } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <Seo
      title={title}
      desc={desc}
      preload={preload}
      canonical={canonical}
      image={image}
    />
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
